.home-container {
  padding: 2rem;
  background-color: #f0f4f8;
  min-height: 100vh;
}

.home-title {
  text-align: right;
  font-family: 'Caveat', cursive;
  margin-bottom: 2rem;
  margin-top: 4rem;

  .line {
    display: flex;
    justify-content: flex-end; 
    margin: 0; // היה margin: 0.2rem 0;
    line-height: 1; // מוסיף צמצום אנכי
  }

  .letter {
    display: inline-block;
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-stroke: 4px black;
    animation: bounce 1s ease-in-out infinite alternate;
    margin:-6px;
  }
  .letter-0 { color: #452020; transform: translateY(-4px); }
  .letter-1 { color: #102931; transform: translateY(2px); }
  .letter-2 { color: #1c3d58; transform: translateY(-6px); }
  .letter-3 { color: #173936; transform: translateY(3px); }
  .letter-4 { color: #214723; transform: translateY(-3px); }
  .letter-5 { color: #705603; transform: translateY(5px); }
  .letter-6 { color: #702f1b; transform: translateY(-2px); }
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-8px); }
}

.filters-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 12px;
   margin-top: -7.5rem; 
  margin-bottom: 3rem;
  justify-content: center;

  .MuiTextField-root,
  .MuiFormControl-root {
    min-width: 160px;
  }

  .button-reset {
    background: linear-gradient(to right, #555556, #252734);
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #384aec;
      color: #ffffff;
    }
  }
}

.artworks-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.art-card {
  width: 300px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }
}
